Code Verifier Length Doesn't Abide by RFC

Seems that the Code Verifier length is between 32 and 96 in the code (https://github.com/nirasan/go-oauth-pkce-code-verifier/blob/master/verifier.go#L26)

RFC says it should be between 43 and 128

```
code_verifier = high-entropy cryptographic random STRING using the
   unreserved characters [A-Z] / [a-z] / [0-9] / "-" / "." / "_" / "~"
   from [Section 2.3 of [RFC3986]](https://www.rfc-editor.org/rfc/rfc3986#section-2.3), with a minimum length of 43 characters
   and a maximum length of 128 characters.
 ```

This means the default length (32) is against RFC specifications.

It is observed that this is Base64 encoded, the expansion factor is math.ceil(n/3) * 4 -- therefore for those that come after, the value is between 43 and 96 output bytes -- just misleading initial investigation. Thanks!